<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-B77PKPWQKK"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-B77PKPWQKK');
</script>

{{ $description := default (default .Site.Title .Site.Params.description) (default .Summary .Description) }}
{{ $keywords := default .Site.Params.Keywords .Keywords }}
{{ $authors := default (slice .Site.Params.GeekblogAuthor) .Params.authors }}

{{ with $description }}
    <meta name="description" content="{{ . }}">
{{ end }}
{{ with $keywords }}
    <meta name="keywords" content="{{ delimit . "," }}">
{{ end }}
{{ with $authors }}
    {{ $list := slice }}
    {{ range sort . }}
        {{ with . }}
            {{ $author := index $.Site.Data.authors . }}
            {{ $list = $list | append $author.name }}
        {{ end }}
    {{ end }}

    {{ with $list }}
    <meta name="author" content="{{ delimit . "," }}">
    {{ end }}
{{ end }}